.loader {
	border: 14px solid rgba(#ddd, 0);
	border-top: 8px solid cyan;
	border-left: 8px solid cyan;
	border-bottom: 8px solid cyan;

	border-radius: 50%;
	width: 64px;
	height: 64px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
