@use './styles/editor';
@use './styles/loader';
@use './styles/categories';
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
ul {
	list-style-type: disc;
}
.toggler {
	position: relative;
	span {
		position: absolute;

		background: white;
		border-radius: 50%;
		left: 0;
	}
	.left {
		transform: translateX(0%);
	}
	.right {
		transform: translateX(1.75rem);
	}
}

.html-text {
	position: relative;
	h1 {
		line-height: 2.4;
		font-size: 1.4rem;
		font-weight: 900;
	}
	p {
		color: rgb(177, 177, 177);
	}
}

.modal {
	position: fixed;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	min-width: 100px;
	min-height: 100px;
}

.dark {
	.ProseMirror {
		outline: solid rgb(100, 99, 99) 2px;
	}
}
.ProseMirror {
	margin-top: 1rem;
	min-height: 300px;
	padding: 1rem;
	border: none;
	outline: solid #141b2d 2px;
}
// primary: '#972354',
// secondary: '#141B2D',

.map {
	z-index: -1 !important;
}

.absolute-center {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	transform: translate(-50%, -50%) scale(1);
	left: 50%;
	top: 50%;
	transition: all ease-in-out 0.3s;
	&:hover {
		transform: translate(-50%, -50%) scale(1.1);
	}
}

.modal {
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: translate(-50%, -50%) scale(1);
	left: 50%;
	top: 50%;
	transition: all ease-in-out 0.3s;
	&:hover {
		transform: translate(-50%, -50%) scale(1.1);
	}
}
.gallery-image {
	max-width: 80vw;
}

.close-btn {
	z-index: 9999999999999999;
}
